# Note that the naming of this file is incorrect for our case: these people do not "own" the provided files but are
# people with write-access to this repository (i.e. @Homebrew/core) who wish to approve changes to these files.
#
# Their review is required to merge PRs that change these files.
#
# To be explicit: we will never accept changes to this file adding people from outside the Homebrew GitHub
# organisation. If you are not a Homebrew maintainer: you do not personally "own" or "maintain" any formulae.

CODEOWNERS            @MikeMcQuaid @Homebrew/plc @Homebrew/tsc
CONTRIBUTING.md       @MikeMcQuaid @Homebrew/tsc
tap_migrations.json   @MikeMcQuaid @Homebrew/tsc
.github/              @MikeMcQuaid @Homebrew/tsc
cmd/                  @MikeMcQuaid

LICENSE.txt           @Homebrew/plc @MikeMcQuaid

audit_exceptions/permitted_formula_license_mismatches.json              @Homebrew/plc
audit_exceptions/provided_by_macos_depends_on_allowlist.json            @Homebrew/tsc
audit_exceptions/universal_binary_allowlist.json                        @carlocab @Homebrew/tsc
audit_exceptions/versioned_formula_dependent_conflicts_allowlist.json   @Homebrew/tsc

# TODO: Remove when https://github.com/Homebrew/homebrew-core/pull/113512 is merged.
Formula/apngasm.rb             @cho-m
Formula/boost.rb               @cho-m
Formula/boost@1.76.rb          @cho-m
Formula/chakra.rb              @cho-m
Formula/clickhouse-odbc.rb     @cho-m
Formula/couchdb.rb             @cho-m
Formula/dwdiff.rb              @cho-m
Formula/easyrpg-player.rb      @cho-m
Formula/freeciv.rb             @cho-m
Formula/freeling.rb            @cho-m
Formula/gnustep-base.rb        @cho-m
Formula/gspell.rb              @cho-m
Formula/harfbuzz.rb            @cho-m
Formula/hfstospell.rb          @cho-m
Formula/icu4c.rb               @cho-m
Formula/libcdr.rb              @cho-m
Formula/libical.rb             @cho-m
Formula/liblcf.rb              @cho-m
Formula/libmspub.rb            @cho-m
Formula/libphonenumber.rb      @cho-m
Formula/libpsl.rb              @cho-m
Formula/libvisio.rb            @cho-m
Formula/libxml2.rb             @cho-m
Formula/manticoresearch.rb     @cho-m
Formula/mapnik.rb              @cho-m
Formula/mpd.rb                 @cho-m
Formula/mysql.rb               @cho-m
Formula/ncmpcpp.rb             @cho-m
Formula/node.rb                @cho-m
Formula/node@14.rb             @cho-m
Formula/node@16.rb             @cho-m
Formula/node@18.rb             @cho-m
Formula/oath-toolkit.rb        @cho-m
Formula/openrct2.rb            @cho-m
Formula/openttd.rb             @cho-m
Formula/pazpar2.rb             @cho-m
Formula/percona-server.rb      @cho-m
Formula/percona-xtrabackup.rb  @cho-m
Formula/php.rb                 @cho-m
Formula/php@8.0.rb             @cho-m
Formula/php@8.1.rb             @cho-m
Formula/planck.rb              @cho-m
Formula/postgis.rb             @cho-m
Formula/postgresql@11.rb       @cho-m
Formula/postgresql@12.rb       @cho-m
Formula/postgresql@13.rb       @cho-m
Formula/postgresql@14.rb       @cho-m
Formula/postgresql@15.rb       @cho-m
Formula/qt.rb                  @cho-m
Formula/r.rb                   @cho-m
Formula/samba.rb               @cho-m
Formula/sile.rb                @cho-m
Formula/spidermonkey.rb        @cho-m
Formula/swift.rb               @cho-m
Formula/tarantool.rb           @cho-m
Formula/tectonic.rb            @cho-m
Formula/tepl.rb                @cho-m
Formula/tesseract.rb           @cho-m
Formula/texlive.rb             @cho-m
Formula/tracker.rb             @cho-m
Formula/urweb.rb               @cho-m
Formula/vte3.rb                @cho-m
Formula/webkitgtk.rb           @cho-m
Formula/widelands.rb           @cho-m
Formula/xerces-c.rb            @cho-m
Formula/yaz.rb                 @cho-m
Formula/zebra.rb               @cho-m
Formula/zk.rb                  @cho-m
Formula/znc.rb                 @cho-m
Formula/zorba.rb               @cho-m
